* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-dark-grey:#090909;
    --color-txt: #fafafa;
    font-size: 5vmin;
}
body {
    font-family: "Lato", sans-serif;
}

.container {
    background-color: var(--color-dark-grey);
    color: var(--color-txt);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-panel {   
    /* z-index: 1; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
}

.panel {
    background-color: #222;
    border: 1px solid orangered;
    height: 100%;
    width: 5%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
}
.context {
    display: none;
    font-size: 0.5rem;
}

.main {
    width: 90%;
    background-color: darkslategrey;
}

.main > .context {
    display: block;
}

.main > button {
    display: none;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .panel {
        height: 5%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .main {
        height: 90%;
        align-items: flex-start;
        padding-top: 0.5rem;
    }
}