* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-dark-grey:#090909;
    --color-txt: #fafafa;
    --color-accent: #eece1a;
    font-size: max(5vmin, 2.5vh);
    /* (2vw + 2vh + 1vmin)/5 */
}
body {
    font-family: "Lato", sans-serif;
}

.container {
    background-color: var(--color-dark-grey);
    color: var(--color-txt);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel {
    background-color: #222;
    border: 1px solid orangered;
    height: 100%;
    width: 5%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
    cursor: pointer;
}

.bookmark {
    font-size: 0.75rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.panel:hover .bookmark{
    color: var(--color-accent);
    color: lightseagreen;
}

.context {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none;
    font-size: 0.5rem;
}
.context img {
    width: 0%;
}

.main {
    width: 90%;
    background-color: darkslategrey;
    cursor: auto;
    padding: 0.5rem;
}
.main > .context {
    display: flex;
    /* overflow: auto; */
}
.main > .bookmark {
    display: none;
}
/* ------------------------------------------------------ */
.main #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
.profile-img-wrapper img {
    width: 100%;
}
/* .profile-content-wrapper {
    line-height: 1.5rem; 
} */
.profile-content-wrapper h2 {
    color: lightseagreen;
}
/* ----------------------------------------------------- */

.contacts-text {
    display: flex;
    justify-content: space-around;
}

.main #contacts {
    flex-grow: 2;
}

.contacts-text {
    background-image: url('images/background.jpg');

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.contacts-bg-img {
    background-image: url('images/background.jpg');
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----------------------------------------------------- */
.main #portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.main > #portfolio > img {
    min-width: 30%;
    padding: 0.5rem;
}
/* ------------------------------------------------------ */

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .panel {
        height: 5%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .main {
        height: 90%;
        align-items: flex-start;
        padding-top: 0.5rem;
    }
    .bookmark {
        writing-mode: horizontal-tb;
        text-orientation:initial;
    }

    .main #about {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }
    .main > #portfolio > img {
        min-width: 100%;
    }
}