* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-dark-grey:#090909;
    --color-txt: #fafafa;
    font-size: 5vmin;
}
body {
    font-family: "Lato", sans-serif;
}

.container {
    background-color: var(--color-dark-grey);
    color: var(--color-txt);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel {
    background-color: #222;
    border: 1px solid orangered;
    height: 100%;
    width: 5%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
    cursor: pointer;
}

.bookmark {
    font-size: 0.75rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.context {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none;
    font-size: 0.5rem;
}
.context img {
    width: 0%;
}

.main {
    width: 90%;
    background-color: darkslategrey;
    cursor: auto;
    padding: 0.5rem;
}
.main > .context {
    display: flex;
}
.main > .bookmark {
    display: none;
}
/* ------------------------------------------------------ */
.main #welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper img {
    width: 100%
}
.profile-content-wrapper {
    padding: 0 1rem;
}
.profile-content-wrapper h2 {
    color: lightseagreen;
}
/* ----------------------------------------------------- */
.main #portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.main > #portfolio > img {
    min-width: 30%;
    padding: 0.5rem;
}

/* ------------------------------------------------------ */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .panel {
        height: 5%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .main {
        height: 90%;
        align-items: flex-start;
        padding-top: 0.5rem;
    }
    .bookmark {
        writing-mode: horizontal-tb;
        text-orientation:initial;
    }
    .main > #portfolio > img {
        min-width: 100%;
    }
}